<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <i class="fa-solid fa-location-dot" style="margin-right: 7px; color: #b51b1b;"></i>
                <a href="https://maps.app.goo.gl/tYb3LZEXhwsgYxYi8" style="color: #555;" target="_blank">
                    <small>Misr International University (MIU)</small>
                </a>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <i class="fa-regular fa-envelope" style="margin-right: 7px; color: #b51b1b;"></i>
                <a href="mailto:karim2304639@miuegypt.edu.eg" style="color: #555;"><small>info@miuegypt.edu.eg</small></a>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+20 1023302550<br>
                    +20 1020111919</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" href="https://www.facebook.com/profile.php?id=100068778008139&mibextid=wwXIfr&mibextid=wwXIfr" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href="https://www.linkedin.com/school/misr-international-university/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" href="https://www.instagram.com/misrinternationaluniversity?igsh=bDJldTJyOWJwbXd3" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End --> 